<div class="row">
          <div class="col-md-6 col-lg-5">
             <div class="themeix-section-title">
                <h2>Innovation Center</h2>
                <div class="section-border left-border"></div>
                <p>Our unique approach to learning, facilities and experience guarantee optimal results
                   for our students. These are just some of the reasons why you should be learning at iSTEMLabsAfrica</p>
             </div>
             {% assign counter = 0 %}
             {% for chose in site.data.why-chose-us %}
             {% assign counter = counter | plus:1 %}
             <div class="themeix-video-details wow fadeIn" data-wow-duration="{{counter}}s">
                <div class="themeix-video-logo"><img src="{{chose.icon}}" alt="{{chose.title}}" /></div>
                <div class="themeix-video-content">
                   <h5>{{chose.title}}</h5>
                   <p>{{chose.subtitle}}</p>
                </div>
             </div>
             {% endfor %}
          </div>
          <div class="col-md-6 col-lg-7">
             <div class="themeix-video-thumb section-overlay-two" style="background-image:url(/assets/images/video-bg.jpg);">
                <a class="themeix-video-play" href="#">
                   <i class="fa fa-play" aria-hidden="true"></i>
                   <div class="iq-waves">
                      <div class="waves wave-1"></div>
                      <div class="waves wave-2"></div>
                      <div class="waves wave-3"></div>
                   </div>
                </a>
             </div>
          </div>
       </div>
