/* More css for course content */
.course-content{
    font-size: 15px;
}
.course-content h1{
    font-weight:600;
    font-size: 2.0rem
}

.course-content h2{
    font-weight:500;
    font-size: 1.5rem;
}